@import "tailwindcss";
@import "tw-animate-css";

/* off the dark/light mode */
/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:not(*));


@theme {
  /* make it 100 - 900 variants for primary color */
  --color-primary: #007F00;
  --color-secondary: #006600;
  /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem; */

  --gradient-primary: linear-gradient(135deg, hsl(120 80% 30%), hsl(120 100% 25%));
  --gradient-soft: linear-gradient(180deg, hsl(120 40% 97%), hsl(0 0% 100%));
  --gradient-hero: linear-gradient(135deg, hsl(120 60% 40%), hsl(120 80% 30%));

  --shadow-cardLightShadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  --shadow-topUpShadow: 0 5px 20px rgba(0, 0, 0, .2)
}

@utility bg-gradient-primary {
  background-image: var(--gradient-primary);
}

@utility bg-gradient-soft {
  background-image: var(--gradient-soft);
}

@utility bg-gradient-hero {
  background-image: var(--gradient-hero);
}

@utility animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

@utility animate-scale-in {
  animation: scale-in 0.3s ease-out;
}



@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* @font-face {
  font-family: 'SolaimanLipi';
  src: url('/fonts/SolaimanLipi.ttf') format('truetype');
}

body {
  font-family: 'SolaimanLipi', sans-serif;
} */

/* mui date picker css override -------------------- */
.MuiPickersTextField-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-color: #CCE5CC !important;
  margin-top: 2px !important;
}

.MuiPickersTextField-root fieldset {
  border-color: #CCE5CC !important;
}

.MuiPickersTextField-root:hover fieldset {
  border-color: #CCE5CC !important;
}

.MuiPickersTextField-root.Mui-focused fieldset {
  border-color: #CCE5CC !important;
}

.MuiPickersTextField-root input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

}

.MuiPickersSectionList-root {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

/* For WebKit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 8px;
  /* height: 8px; */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007F00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #007F00;
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #007F00 #f1f1f1;
}

/* html content for description */
.html-content h1 {
  @apply text-3xl font-semibold;
}

.html-content h2 {
  @apply text-2xl font-semibold;
}

.html-content h3 {
  @apply text-xl font-semibold;
}

.html-content h4 {
  @apply text-lg font-medium;
}

.html-content h5 {
  @apply text-base font-medium;
}

.html-content h6 {
  @apply text-sm font-medium;
}

p:empty {
  min-height: 1rem;
  display: block;
}