@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* make it 100 - 900 variants for primary color */
  --color-primary: #007F00;
  --color-secondary: #006600;
  /* --color-primary: #008000; */
  /* --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem; */

  --shadow-cardLightShadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  --shadow-topUpShadow: 0 5px 20px rgba(0, 0, 0, .2)
}


/* mui date picker css override */
.MuiPickersTextField-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-color: #000 !important;
  margin-top: 2px !important;
}

.MuiPickersTextField-root fieldset {
  border-color: #000 !important;
}

.MuiPickersTextField-root:hover fieldset {
  border-color: #000 !important;
}

.MuiPickersTextField-root.Mui-focused fieldset {
  border-color: #000 !important;
}

.MuiPickersTextField-root input {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.MuiPickersSectionList-root {

  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

/* For WebKit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 8px;
  /* height: 8px; */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007F00;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #007F00;
}


/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #007F00 #f1f1f1;
}